.contact {
  margin: 60px 0;
  @include media-breakpoint-down(lg) {
    margin: 60px 0;
  }
  &__wrapper {
    display: flex;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 35px;
  }
  &__info {
    flex: 1;
    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
      display: none;
    }
  }
  &__item {
    margin-bottom: 35px;

    p, a {
      font-size: 20px;
      color: black;
    }
    a {
      transition: $transition-base;
      &:hover {
        color: $color-accent;
      }
    }
  }
  &__item-text {
    max-width: 360px;
    font-weight: 600;
    padding: 20px 20px 20px 40px;
    background-color: rgba(161, 167, 161, 0.14);
  }
  &__inputs {
    flex: 1;
    textarea {
      width: 100%;
      min-height: 200px;
    }
    .field {
      margin-bottom: 20px;
    }
    input, textarea {
      padding: 10px;
      margin-top: 8px;
      border-radius: 0px;
      border: 2px solid #E4E3E3;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include media-breakpoint-down(sm) {
        padding: 6px;
      }
    }
    button {
      background-color: $color-accent;
      border: none;
      color: white;
      font-weight: 700;
      padding: 12px 30px;
      text-transform: uppercase;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    input {
      width: 300px;
      @include media-breakpoint-down(xxl) {
        width: 265px;
      }
      @include media-breakpoint-down(xl) {
        width: 220px;
      }
    }
    .field {
      @include media-breakpoint-down(lg) {
        width: 48%;
      }
      input {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
    }
  }
  &__sent {
    margin: 140px 0 300px 0;
    h1 {
      font-weight: 700;
      margin-bottom: 26px;
    }
  }
}